@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-lime: #d4ed31;
  --color-gray: #dbdde1;
  --color-lightgray: #f7f7f7;
  --color-darkgrey: #acacac;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-green: #008709;

  --font-family-helvetica: "Helvetica Neue", sans-serif;

  --font-size-h1: 44px;
  --font-size-h2: 30px;
  --font-size-h3: 22px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;
  --font-size-p: 16px;

  --spacing-top-spacing: 7rem;
  --radius-border-corner: 1rem;
}

@source "../components/**/*.{js,jsx}";
@source "../pages/**/*.{js,jsx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}
